/* Load bundled Playfair Display fonts for JavaFX controls */
@font-face {
    font-family: "Playfair Display";
    src: url("fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: "Playfair Display Bold";
    src: url("fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: "Playfair Display ExtraBold";
    src: url("fonts/PlayfairDisplay-ExtraBold.ttf");
}

/* Root bg */
.main-card {
    -fx-background-color: linear-gradient(to bottom right, #f1ede0, #e3d0c2);
}

/* Bottom-right watermark under content */
.watermark-logo {
    -fx-effect: innershadow(three-pass-box, rgba(80, 67, 55, 0.14), 18, 0.0, 0, 0);
}

/* Photo container */
.photo-container {
    -fx-background-color: #EBE5D9;
    -fx-background-radius: 20;
    -fx-padding: 6;
    -fx-max-width: 149;
    -fx-max-height: 149;
}

#centerLogoView{
    -fx-effect: dropshadow(three-pass-box, rgb(241, 237, 224), 20, 0.8, 0, 0);
}

.header-name{
    -fx-font-family: "Playfair Display ExtraBold";
    -fx-font-size: 32px;
    -fx-text-fill: #4A3525;
    -fx-effect: dropshadow(three-pass-box, rgb(241, 237, 224), 20, 0.8, 0, 0);
}

.id-text {
    -fx-font-family: 'Arial';
    -fx-font-size: 16px;
    -fx-text-fill: #4A3525;
    -fx-padding: 2 0 0 0;
    -fx-effect: dropshadow(three-pass-box, rgb(241, 237, 224), 20, 0.8, 0, 0);
}

/* Chips */
.chip-container {
    -fx-background-color: #F8F5EF;
    -fx-background-radius: 25;
    -fx-padding: 8 15 8 8;
}

.icon-bg {
    -fx-background-radius: 50;
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-max-width: 40;
    -fx-max-height: 40;
}

/* Colors */
.icon-sage { -fx-background-color: #A3B8A8; }
.icon-blue { -fx-background-color: #8CA3C0; }
.icon-terra { -fx-background-color: #E08E79; }
.icon-sand { -fx-background-color: #DEB887; }

.chip-title {
    -fx-font-family: 'Arial';
    -fx-font-size: 12px;
    -fx-text-fill: #807368;
}

.chip-value {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
    -fx-text-fill: #2B201A;
}

/* Contacts */
.contacts-container {
    -fx-background-color: #F8F5EF;
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.35), 15, 0, 0, 5);
}

.contacts-header {
    -fx-font-family: "Playfair Display Bold";
    -fx-font-size: 24px;
    -fx-text-fill: #4A3525;
    -fx-font-weight: normal;
}

#statusStampView {
    -fx-effect: dropshadow(three-pass-box, rgba(28, 10, 10, 0.15), 10, 0.5, 0, 2);
}

.archived-overlay {
    -fx-background-color: rgba(5, 5, 5, 0.25);
}