.student-card {
    -fx-background-color: linear-gradient(to top left, #fff1e5, #faf2eb);
    -fx-background-radius: 14;
    -fx-border-color: #B5B5B3;
    -fx-border-radius: 0, 0, 14, 14;
    -fx-font-family: Serif;
}

.title {
    -fx-font-size: 18px;
    -fx-font-weight: 700;
    -fx-text-fill: #373734;
}

.full-name {
    -fx-font-size: 16px;
    -fx-font-weight: 700;
    -fx-text-fill: #b37347;
}

.label-caption {
    -fx-font-size: 11px;
    -fx-text-fill: #7b7874;
    -fx-font-weight: 700;
}

.value {
    -fx-font-size: 13px;
    -fx-font-weight: 800;
    -fx-text-fill: #373734;
}

.photo-frame {
    -fx-min-width: 104px;
    -fx-min-height: 124px;
    -fx-max-width: 104px;
    -fx-max-height: 124px;
    -fx-border-color: #7e7d7c;
    -fx-border-width: 2px;
    -fx-border-style: dashed;
    -fx-border-dash-array: 8 5 8 5;
    -fx-border-radius: 8;
    -fx-background-color: #EFEEEC;
    -fx-background-radius: 8;
}

.photo-placeholder {
    -fx-font-size: 12px;
    -fx-text-fill: #7B7A74;
    -fx-font-weight: 700;
}

.separator {
    -fx-min-height: 1px;
    -fx-background-color: #B5B5B3;
}

