/* Load bundled Playfair Display fonts for JavaFX controls */
@font-face {
    font-family: "Playfair Display";
    src: url("fonts/PlayfairDisplay-Regular.ttf");
}

@font-face {
    font-family: "Playfair Display Bold";
    src: url("fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
    font-family: "Playfair Display ExtraBold";
    src: url("fonts/PlayfairDisplay-ExtraBold.ttf");
}

/* Root bg */
.main-card {
    -fx-background-color: linear-gradient(to bottom right, #E1F0F7, #C5DFF5);
}

/* Bottom-right watermark under content */
.watermark-logo {
    -fx-effect: innershadow(three-pass-box, rgba(56, 61, 105, 0.14), 18, 0.0, 0, 0);
}

/* Photo container */
.photo-container {
    -fx-background-color: #D4E7F1;
    -fx-background-radius: 20;
    -fx-padding: 6;
    -fx-max-width: 149;
    -fx-max-height: 149;
}

#centerLogoView{
    -fx-effect: dropshadow(three-pass-box, rgb(209, 230, 245), 20, 0.8, 0, 0);
}

.header-name{
    -fx-font-family: "Playfair Display ExtraBold";
    -fx-font-size: 32px;
    -fx-text-fill: #354452;
    -fx-effect: dropshadow(three-pass-box, rgb(209, 230, 245), 20, 0.8, 0, 0);
}

.id-text {
    -fx-font-family: 'Arial';
    -fx-font-size: 16px;
    -fx-text-fill: #3C4C5A;
    -fx-padding: 2 0 0 0;
    -fx-effect: dropshadow(three-pass-box, rgb(209, 230, 245), 20, 0.8, 0, 0);
}

/* Chips */
.chip-container {
    -fx-background-color: #E6F5FD;
    -fx-background-radius: 25;
    -fx-padding: 8 15 8 8;
}

.icon-bg {
    -fx-background-radius: 50;
    -fx-min-width: 40;
    -fx-min-height: 40;
    -fx-max-width: 40;
    -fx-max-height: 40;
}

/* Colors */
.icon-sage { -fx-background-color: #88b1ab; }
.icon-blue { -fx-background-color: #608092; }
.icon-terra { -fx-background-color: #9AA5E5; }
.icon-sand { -fx-background-color: #6C8FB2; }

.chip-title {
    -fx-font-family: 'Arial';
    -fx-font-size: 12px;
    -fx-text-fill: #8D9AA5;
}

.chip-value {
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
    -fx-text-fill: #2B333F;
}

/* Contacts */
.contacts-container {
    -fx-background-color: #E6F5FD;
    -fx-background-radius: 20;
    -fx-padding: 20;
}

.contacts-header {
    -fx-font-family: "Playfair Display Bold";
    -fx-font-size: 24px;
    -fx-text-fill: #303D4D;
    -fx-font-weight: normal;
}

.archived-overlay {
    -fx-background-color: rgba(5, 5, 5, 0.25);
}